.page-title {
    font-size: 48px; /* Tamaño del título */
    color: #4CAF50; /* Color verde */
    text-align: center;
    margin-top: 20px;
}

img {
    transition: transform 0.2s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}