body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.page-title {
    font-size: 48px;
    color: #4CAF50;
    text-align: center;
    margin-top: 20px;
}

p {
    margin: 20px;
    font-size: 18px;
    line-height: 1.6;
}

.button-label {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-label:hover {
    background-color: #45a049;
}

/* Ocultar el checkbox */
#mostrarVideo {
    display: none;
}

/* Estilo del contenedor de video */
.video-container {
    text-align: center;
    margin: 20px auto;
    width: 560px;
    height: 315px;
    overflow: hidden;
    position: relative;
}

/* Estilo del iframe de video */
.video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

/* Mostrar el iframe cuando el checkbox está marcado */
#mostrarVideo:checked + .button-label + .video-container iframe {
    opacity: 1;
    pointer-events: auto;
}